#title {
  text-align: center;
  font-size: 3em;
  margin: 10px;
}
.navList {
  text-align: center;
}
.navItem {
  display: inline-block;
}
.navItem:hover {
  color: blue;
  cursor: pointer;
}
.container {
  width: 100%;
  height: 500px;
  background-color: aquamarine;
}